{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            // https://github.com/facebook/jest/issues/3126#issuecomment-483320742
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
